{% extends 'demo/base_template.html' %}
{% block page_title %}
Edit Staff {{staff.admin}}
{% endblock page_title %}



{% block main_content %}
<section class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Driver</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/demo/edit_driver_save" method="post">
              {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label >Driver Name</label>
                <input type="text" class="form-control"  value="{{driver.name}}" name="name">
              </div>
              
               <div class="form-group">
                <label >Phone Number</label>
                <input type="text" class="form-control"  value="{{driver.phone}}" name="phone">
              </div>
              <div class="form-group">
                <label >Departement</label>
                <input type="text" class="form-control"  value="{{driver.departement}}" name="departement">
              </div>       
              <input type="hidden" class="form-control" value="{{driver.id}}"  name="driver_id">            
                
                  <div class="form-group">
                    {% if messages %}

                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                   <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                     {% endif %}
                      {% if message.tags == 'success' %}
                   <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                     {% endif %}
                     {% endfor %}

                 {% endif %}
                     </div>

               </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Edit Driver</button>
            </div>
          </form>
        </div>

          </div>
      </div>
  </div><!-- /.container-fluid -->
</section>
    {% endblock main_content %}

