{% extends 'demo/base_template.html' %}
{% block page_title %}
Manage Vehicles
{% endblock page_title %}



{% block main_content %}

     <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            
              <!-- /.card-header -->
              <!-- form start -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Vehicles Details</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Plate Number</th>
                        <th>Name</th>
                        <th>Driver</th>
                        <th>Date Added</th>
                        
                        
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for vehicle in vehicles %}
                      <tr>
                        <td>{{vehicle.id}}</td>
                        <td>{{vehicle.plateNumber}}</td>
                        <td>{{vehicle.name}}</td>
                        <td>{{vehicle.driver}}</td>
                        <td>{{vehicle.create_at}}</td>
                         
                        
                        <td><a href="/demo/vehicle_logs/{{vehicle.id}}" class="btn btn-success">Logs</a></td>
                        
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>

              </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>

    {% endblock main_content %}

